/* Form Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
     height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#8b0000,#ff0000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 350px;
    padding: 30px;
    background-color: rgba(185, 32, 32, 0.856);
    box-shadow: 0 0 15px rgba(253, 11, 11, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px) ; color: white;

}
.container h2{ text-align: center;
    margin-bottom: 20px;

}

.from-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 15px;
    font-size:bold;

}
  input  [type="text"],
input [type="password"]   {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: all ease-in-out;
    display: flex;
}
input[type="checkbox"] {
    margin-right: 5px;
}
 .login-btn.remember-me {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.login-btn.remember-me  input{
    margin-right: 5px;
}
.forgot-pass{
    display: block;
    margin-top: 10px;
    text-align: right;
    font-size: 13px;
    color :#fff;
    text-decoration:none;


}
.forgot-pass:hover{
    text-decoration: underline;
}

.login-btn{
    width: 100%;
    padding: 40px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color:white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
}
.login-btn:hover{
    background-color: #bb2324;
    border: 10px solid #bb2324;
}

#submit-btn{
    padding: 10px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    border: 10px;
    width: 70%;
    transition: all ease-in-out 0.2s ;
}
#submit-btn:hover{
    background: #d8c2c2;
    border: 1px solid #eedada;
}
.reset-pass{
    text-decoration: none;
    color: white;
}
.reset-pass :hover{
    text-decoration: underline;
}











